@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    display: contents;
}

:root {
    color-scheme: light;
    /*--app-height: 100vh;*/
}

@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #000;
    }
}

body {
    background-color: var(--main-bg-color);

    background-image: radial-gradient(at 0% 0%, rgba(128, 0, 128, .5) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(75, 189, 216, .5) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(255, 127, 80, .5) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(255, 215, 0, .5) 0px, transparent 50%);

    background-attachment: fixed;
}

@layer components {

    .main {
        @apply relative;
        @apply text-black dark:text-white;
    }

    .header {
        @apply sticky top-0 backdrop-blur-2xl;
        @apply h-10 z-10 lg:mb-10;
        @apply flex items-center justify-center drop-shadow-xl;
        @apply bg-white/50 dark:bg-black/25;
    }

    .greeting-button {
        @apply ml-1.5 relative;
    }

    .gear-icon {
        @apply -translate-y-1/2;
        @apply absolute top-1/2 -right-5;
        @apply h-4 w-4;
        @apply bg-no-repeat bg-center;
        @apply bg-[url('./assets/gear.svg')] dark:bg-[url('./assets/gear-dark.svg')];
        @apply bg-[length:16px_16px];
    }

    .footer {
        @apply flex items-center justify-center;
        @apply h-[40px] text-black/30 dark:text-white/30 font-thin;
    }

    .content {
        /*background-color: rgba(255, 0, 0, 0.32);*/

        @apply relative rounded max-w-2xl;
        @apply mx-auto pb-5 mb-10;
        @apply dark:lg:shadow-3xl lg:shadow-2xl lg:w-[42rem];
    }

    .content header {
        @apply h-14 relative md:sticky md:top-10;
    }

    .content.headerBlur header {
        @apply bg-white/30 dark:bg-black/30 backdrop-blur-2xl md:rounded-t drop-shadow;
    }

    .content h3 {
        @apply text-2xl h-14 flex justify-center items-center relative;
    }

    .subheader {
        @apply relative md:sticky md:top-24 my-2 hidden flex-row;
    }

    .subheader.open {
        @apply flex;
    }

    .tabs {
        @apply flex w-full space-x-1 bg-white/20 dark:bg-black/20 p-1 pr-0 backdrop-blur-2xl;
    }

    .tabs button {
        @apply py-2 text-sm focus:outline-none whitespace-nowrap px-3;
    }

    .tab {
        @apply text-black dark:text-white/70;
        @apply hover:bg-white/[0.12] hover:text-black/70;
        @apply hover:dark:bg-black/[0.12] hover:dark:text-white/70;
    }

    .tabs .selected {
        @apply bg-white dark:bg-black dark:font-bold rounded;
    }

    .tabs .clear {
        @apply p-0 w-0 h-full cursor-pointer rounded;
        @apply bg-[url('./assets/clear.svg')] dark:bg-[url('./assets/clear-dark.svg')];
        @apply bg-transparent bg-no-repeat bg-center bg-[length:20px_20px];
        @apply transition-all;
    }

    .tabs .clear.shown {
        @apply w-9 !mr-1;
    }

    .back-button {
        @apply absolute top-0 left-0;
        @apply bg-[url('./assets/arrow-left-dark.svg')] dark:bg-[url('./assets/arrow-left.svg')];
        @apply bg-transparent bg-no-repeat bg-center bg-[length:20px_20px];
        @apply w-14 h-14 p-0;
        @apply active:shadow-inner;
    }

    .restart-button {
        @apply absolute right-0 top-1/2 -translate-y-1/2 w-10 h-10;
        @apply bg-[url('./assets/restart.svg')] dark:bg-[url('./assets/restart-dark.svg')];
        @apply bg-no-repeat bg-[length:24px_24px] bg-center;
    }

    .settings-button {
        @apply absolute top-0 right-0 w-14 h-14;
        @apply bg-[url('./assets/settings.svg')] dark:bg-[url('./assets/settings-dark.svg')];
        @apply bg-no-repeat bg-[length:24px_24px] bg-center rounded-tr;
        @apply active:shadow-inner;
    }

    .settings-button.pressed {
        @apply shadow-inner bg-black/5 dark:bg-black/50;
    }

    .sort-button {
        @apply absolute right-1 top-1 bottom-1;
        @apply w-9 rounded;
        @apply bg-[url('./assets/sort.svg')] dark:bg-[url('./assets/sort-dark.svg')];
        @apply bg-no-repeat bg-[length:24px_24px] bg-center;
    }

    .sort-button.sort {
        @apply shadow-inner bg-black/5 dark:bg-black/50;
    }

    [type="button"],
    [type="submit"] {
        @apply rounded px-4 py-2 text-white;
        @apply bg-blue-900 hover:bg-blue-700;
        @apply active:bg-blue-500 shadow-inner;
        @apply transition;
    }

    [type="button"][disabled],
    [type="submit"][disabled] {
        @apply bg-gray-500 text-gray-300;
    }

    input[type="text"] {
        @apply border border-blue-900 bg-transparent rounded;
        @apply p-2;
        @apply focus:outline-0 focus:border-blue-700;
        @apply drop-shadow-xl;
    }

    input[type="text"]::placeholder {
        @apply italic font-thin;
        @apply text-black dark:text-white;
    }

    .history-day {
        @apply gap-3;
        @apply flex items-start py-3;
    }

    .history-day:not(:first-of-type) {
        @apply border-t first-of-type:border-t-0 border-t-gray-300 dark:border-t-gray-700;
    }

    .cell-odd {
        @apply bg-white/50 dark:bg-black/50;
    }

    .history-date {
        @apply cell-odd;
        @apply inline-block max-w-min text-center rounded;
        @apply md:my-2 ml-3 md:mx-7;
        @apply leading-4;
    }

    .history-date .additional {
        @apply text-xs text-black/30 dark:text-white/30;
    }
}
