@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    display: contents;
}

:root {
    color-scheme: light;
    --color1: rgba(128, 0, 128, .5);
    --color2: rgba(75, 189, 216, .5);
    --color3: rgba(255, 127, 80, .5);
    --color4: rgba(255, 215, 0, .5);
}

@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #000;
    }
}

body {
    background-color: var(--main-bg-color);

    background-image: radial-gradient(at 0% 0%, var(--color1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, var(--color2) 0px, transparent 50%),
    radial-gradient(at 100% 100%, var(--color3) 0px, transparent 50%),
    radial-gradient(at 0% 100%, var(--color4) 0px, transparent 50%);

    background-attachment: fixed;
}

@keyframes rainbow {
    0% {
        background-position: 0 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0 82%;
    }
}

@keyframes slidebg {
    to {
        background-position: 100vw;
    }
}

@layer components {

    .main {
        @apply relative;
        @apply text-black dark:text-white;
    }

    .header {
        @apply sticky top-0 backdrop-blur-2xl;
        @apply h-10 z-10 lg:mb-10;
        @apply flex items-center justify-center drop-shadow-xl;
        @apply bg-white/50 dark:bg-black/25;
    }

    .greeting-button {
        @apply ml-1.5 relative;
    }

    .gear-icon {
        @apply -translate-y-1/2;
        @apply absolute top-1/2 -right-5;
        @apply h-4 w-4;
        @apply bg-no-repeat bg-center;
        @apply bg-[url('./assets/gear.svg')] dark:bg-[url('./assets/gear-dark.svg')];
        @apply bg-[length:16px_16px];
    }

    .rainbow {
        background: linear-gradient(124deg,
        rgba(255, 36, 0, 0.25),
        rgba(232, 29, 29, 0.25),
        rgba(232, 183, 29, 0.25),
        rgba(227, 232, 29, 0.25),
        rgba(29, 232, 64, 0.25),
        rgba(29, 221, 232, 0.25),
        rgba(43, 29, 232, 0.25),
        rgba(221, 0, 243, 0.25),
        rgba(221, 0, 243, 0.25)
        );
        background-size: 1800% 1800%;
        animation: rainbow 15s ease infinite;
    }

    .q3-button {
        @apply relative mx-auto px-5 py-2.5;
        @apply whitespace-nowrap;
        @apply rounded-3xl;
        @apply text-xl text-black dark:text-white;
        @apply shadow-xl hover:shadow-2xl transition-shadow;

        @apply rainbow;

        @apply before:block before:w-28 before:h-28 before:mb-3;
        @apply before:bg-[url('./assets/question.svg'),url('./assets/sun.svg')];
        @apply before:dark:bg-[url('./assets/question-dark.svg'),url('./assets/sun.svg')];
        @apply before:bg-no-repeat before:bg-center;
        @apply before:mx-auto;

        @apply after:rounded-3xl;
        @apply after:absolute after:left-0 after:right-0 after:top-0 after:bottom-0;
        @apply after:bg-gradient-to-t after:from-black/25 after:via-black/5 after:transition;

        @apply hover:after:bg-gradient-to-b;
    }

    .q3-button:before {
        background-size: 50px, contain;
    }

    .watch-history-button {
        @apply relative;
        @apply rounded px-4 py-2 text-black dark:text-white;
        @apply block mx-auto pl-10;
        @apply shadow-none hover:shadow-2xl transition-shadow;
        @apply before:absolute before:left-2 before:top-1/2 before:-translate-y-1/2;;
        @apply before:inline-block before:w-6 before:h-6;
        @apply before:bg-[url('./assets/history.svg')] before:dark:bg-[url('./assets/history-dark.svg')];
    }

    .history-icon {
        @apply inline-block h-6 w-6 mr-3;
        @apply bg-no-repeat bg-center;
        @apply bg-[url('./assets/history.svg')] dark:bg-[url('./assets/history-dark.svg')];
    }

    .footer {
        @apply flex items-center justify-center;
        @apply h-[40px] font-thin;
        @apply text-transparent bg-clip-text bg-gradient-to-r from-[var(--color2)] to-[var(--color1)];
    }

    .content {
        @apply relative rounded max-w-2xl;
        @apply mx-auto pb-5 mb-10;
        @apply dark:lg:shadow-3xl lg:shadow-2xl lg:w-[42rem];
    }

    .content header {
        @apply h-14 mt-2 relative;
    }

    .content.headerBlur header {
        @apply sticky top-10 bg-white/30 dark:bg-black/30 backdrop-blur-2xl lg:rounded-t drop-shadow;
    }

    .content h3 {
        @apply text-2xl h-14 flex justify-center items-center relative;
    }

    .subheader {
        @apply sticky top-24 my-2 flex flex-row shadow-inner;
    }

    .tabs {
        @apply flex w-full space-x-1 bg-white/20 dark:bg-black/20 p-1 pr-0 backdrop-blur-2xl;
    }

    .tabs button {
        @apply py-2 text-sm focus:outline-none whitespace-nowrap px-3;
    }

    .tab {
        @apply text-black dark:text-white/70;
        @apply hover:bg-white/[0.12] hover:text-black/70;
        @apply hover:dark:bg-black/[0.12] hover:dark:text-white/70;
    }

    .tabs .selected {
        @apply bg-white dark:bg-black dark:font-bold rounded;
    }

    .tabs .clear {
        @apply p-0 w-0 h-full cursor-pointer rounded;
        @apply bg-[url('./assets/clear.svg')] dark:bg-[url('./assets/clear-dark.svg')];
        @apply bg-transparent bg-no-repeat bg-center bg-[length:20px_20px];
        @apply transition-all;
    }

    .tabs .clear.shown {
        @apply w-9 !mr-1;
    }

    .back-button {
        @apply absolute top-0 left-0;
        @apply bg-[url('./assets/arrow-left-dark.svg')] dark:bg-[url('./assets/arrow-left.svg')];
        @apply bg-transparent bg-no-repeat bg-center bg-[length:20px_20px];
        @apply w-14 h-14 p-0;
        @apply active:shadow-inner;
    }

    .restart-button {
        @apply absolute right-0 top-1/2 -translate-y-1/2 w-10 h-10;
        @apply bg-[url('./assets/restart.svg')] dark:bg-[url('./assets/restart-dark.svg')];
        @apply bg-no-repeat bg-[length:24px_24px] bg-center;
    }

    .settings-button {
        @apply absolute top-0 right-0 w-14 h-14;
        @apply bg-[url('./assets/settings.svg')] dark:bg-[url('./assets/settings-dark.svg')];
        @apply bg-no-repeat bg-[length:24px_24px] bg-center lg:rounded-tr;
        @apply active:shadow-inner;
    }

    .settings-button.pressed {
        @apply shadow-inner bg-black/5 dark:bg-black/50;
    }

    .group-button {
        @apply absolute right-11 top-1 bottom-1 px-2 rounded;
    }

    .group-button.group {
        @apply shadow-inner bg-black/5 dark:bg-black/50;
    }

    .sort-button {
        @apply absolute right-1 top-1 bottom-1;
        @apply w-9 rounded;
        @apply bg-[url('./assets/sort.svg')] dark:bg-[url('./assets/sort-dark.svg')];
        @apply bg-no-repeat bg-[length:24px_24px] bg-center;
    }

    .sort-button.sort {
        @apply shadow-inner bg-black/5 dark:bg-black/50;
    }

    .rainbow-button {
        @apply rounded relative py-2;
        @apply flex items-center justify-center;

        @apply before:rounded before:bg-white/80 before:dark:bg-black/80;
        @apply before:absolute before:left-0.5 before:right-0.5 before:top-0.5 before:bottom-0.5;
    }

    .rainbow-button.save-icon {
        @apply after:relative after:block after:w-6 after:h-6 after:mr-1;
        @apply after:bg-no-repeat after:bg-center after:bg-[url('./assets/save.svg')] after:dark:bg-[url('./assets/save-dark.svg')];
    }

    .rainbow-button span {
        @apply relative block order-2;
    }

    .rainbow-button:not([disabled]) {
        background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
        animation: slidebg 30s linear infinite;
    }

    .rainbow-button[disabled] {
        @apply text-gray-500 after:bg-[url('./assets/save-disabled.svg')];
    }

    input[type="text"] {
        @apply border border-blue-900 bg-transparent rounded;
        @apply p-2;
        @apply focus:outline-0 focus:border-blue-700;
        @apply drop-shadow-xl;
    }

    input[type="text"]::placeholder {
        @apply italic font-thin;
        @apply text-black dark:text-white;
    }

    .history-day {
        @apply gap-3;
        @apply flex items-start py-3;
    }

    .history-day:not(:first-of-type) {
        @apply border-t first-of-type:border-t-0 border-t-gray-300 dark:border-t-gray-700;
    }

    .month-heading {
        @apply sticky;
        @apply bg-white/30 dark:bg-black/30;
    }

    .month-heading > div {
        @apply min-w-[200px];
        @apply inline-block px-3 py-1;
        @apply bg-gradient-to-r from-white via-white dark:from-black dark:via-black;
    }

    .month-heading + .history-day {
        @apply border-t-0;
    }

    .cell-odd {
        @apply bg-white/50 dark:bg-black/50;
    }

    .history-date {
        @apply cell-odd;
        @apply inline-block max-w-min text-center rounded;
        @apply md:my-2 ml-3 md:mx-7;
        @apply leading-4;
    }

    .history-date .additional {
        @apply text-xs text-black/30 dark:text-white/30;
    }

    .party-image {
        @apply bg-[url('./assets/party.svg')] bg-no-repeat bg-center bg-contain w-32 h-32 mx-auto;
    }

    .hug-image {
        @apply my-10 w-32 h-32 mx-auto bg-no-repeat bg-[url('./assets/hug.svg')];
    }

    .button {
        @apply rounded dark:bg-black/25 bg-white/25 p-1.5 px-3;
        @apply text-black dark:text-white shadow-xl;
    }

    .error-button {
        @apply button;
        @apply text-white dark:text-white;
        @apply bg-red-500 dark:bg-red-500 hover:dark:bg-red-900;
    }
}
